<mat-toolbar color="primary" id="main-toolbar">
    <button mat-icon-button (click)="drawer.toggle()" class="toolbar-icon">
     <mat-icon>menu</mat-icon>
   </button>
    <a routerLink="/dashboard"><span>Lukapp</span></a>
</mat-toolbar>

<mat-drawer-container class="main-container" autosize>
    <mat-drawer #drawer class="main-sidenav" mode="side">
        <mat-nav-list>
            <a routerLink="dashboard" matRipple style="vertical-align: middle;"><mat-icon>dashboard</mat-icon>  Dashboard</a>
            <a routerLink="expenses" matRipple>Expenses</a>
        </mat-nav-list>
    </mat-drawer>
  
    <router-outlet></router-outlet>
  
  </mat-drawer-container>
  